 /*media query practice*/
 @media screen and (max-width: 600px) { h1 {
    color: brown;
   }
 }

 @media screen and (max-width: 600px) {
    .No-show {
      display: none;
    }
  }
.No-show {
    background-color: yellow;
    padding: 20px;
  }
/* flexbox practice*/
/*flex direction */
.flex-container p {
    display: flex;
    background-color:black;
    flex-direction: row;  
    flex-wrap: wrap; 
    justify-content: center;
      
}
.flex-container > p {

    background-color: blue;
    color: aliceblue;
    font-size: 2rem;
    padding: 16px;
    margin: 16px;
    
    
} 
/*grid practice*/
.grid-container{
    background-color: aqua;
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: auto auto;
    
}

.grid-container > p {
    background-color: black;
    color: aliceblue;
    font-size: 2rem;

}




.header {
    background-color: lightseagreen;
    color: whitesmoke;
    padding: 15px;
  }




