 /*media query practice*/

 @media screen and (max-width: 480px) { h1 {
    color: brown;
   }
 }
/* flexbox practice*/
/*flex direction 
row
row reverse
column
column reverse */

.flex-container p {
    display: flex;
    flex-wrap: wrap;
    background-color: deepskyblue;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container > p {
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 16px;
    margin: 16px;

} 
/*grid practice*/
.grid-container {
    background-color: skyblue;
    display: grid;
    
    column-gap: 50px;
    row-gap: 50px;

    grid-template-columns: auto auto auto auto;
}

.grid-container > p {
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
}




